@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

body {
  font-family: Roboto;
}

:root {
  --primary-color: rgb(255, 79, 40);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  color: #fff;
}

.primary-text {
  color: var(--primary-color);
}

.btn-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-outline-primary:hover {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: white;
}
